<div class="hero-unit">
  <div class="container" style="display: block;">
    <div class="row-fluid">
    
      <div class="span4 signup">
        <div id="signup">
          <h1 class="logo">365days</h1>
            <p><span>your personal calendar</span></p>
            <div class="button_row">
              <%= link_to "Get started", new_user_registration_path, class: "btn-large signup-btn" %>
            </div>
        </div>
      </div>
      <div class="span6 app">
        <div>
          <%= image_tag('macbook-air-365.png', width: "520px", id: "app-macbook")%>
          <%= image_tag('iphone-365.png', width: "120px", id: "app-iphone")%>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="center">
</div>

<div class="container">
  <div class="row">
    <div class="span4">
      <h2>Create events</h2>
      <p>Remember Birthdays.</p>
    </div>
    <div class="span4">
      <h2>Make shared events</h2>
      <p>Share your events to other peoples. </p>
   </div>
    <div class="span4">
      <h2>Sticky notes</h2>
      <p>Make quick notes and to-do list.</p>
    </div>
  </div>
</div>