
<h1>My calendar</h1>
<div class="pull-right"><%= link_to "Create new Event", new_event_path, class:
                        "btn btn-primary" %></div>
<legend></legend>

<%= raw event_calendar %>
<br>
