<legend><h1>Сalendar</h1></legend>
<%= raw event_calendar %>
    <br>

<div id="event_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>