/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body { padding-top: 60px; }
@import "bootstrap-responsive";

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.btn-event {
	background-color: #66CCFF;
	text-align: center;
}

.footer {

}

#center {
	text-align: center;
}

.links {
	display: block;
}

.links a:hover {
	background: none; 
	color: black;
}

a:active
{
	background-color: #66CCFF;
}

.shadow {
    -moz-box-shadow:
		0px 1px 9px rgba(105,211,250,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 9px rgba(105,211,250,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 5px rgba(105,211,250,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
}

.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
	padding: 10px 27px;
	background: -moz-linear-gradient(
		top,
		#7ecff7 0%,
		#35b8fa);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#7ecff7),
		to(#35b8fa));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #55bbeb;
	-moz-box-shadow:
		0px 2px 8px rgba(0,0,0,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 8px rgba(0,0,0,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 8px rgba(0,0,0,0.4),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}




