@import "bootstrap";
@import "bootstrap-responsive";

/* universal */
body {
  padding-top: 0;
  font-size: 16px;
  line-height: 18px;
  font: normal normal 400 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47535d;
}

h1 {
  margin: 0 0 40px;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
}

a {
    color: #333333;
}

.nav > li > a:hover {
  color: #ffffff;
  background-color: #53B7E9;
  border-radius: 4px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

body { 
    font: normal 80% "calluna", Georgia, "Times New Roman", serif;
    length: 600px;
    padding-top: 60px;
}

p, ol, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; 
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
    display: inline;
} 

.logo {
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0px 2px 2px #ccc, 0px 4px 4px #ccc,0px 6px 6px #ccc;
    font-style: italic;
    //font-family: 'Asap', sans-serif;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
  &:hover {
      color: none;
      text-decoration: none;
  }
  &:focus {
      color: none;
      text-decoration: none;
  }
}

.brand {
    display: inline;
    color: #fff;
}

.box {

}

.event_form {
    padding-left: 200px;
}

.user_form {
  margin: 0 auto 20px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 150px;
  -moz-box-shadow: 3px 3px 6px #ccc;
  -webkit-box-shadow: 3px 3px 6px #ccc;
  box-shadow: 3px 3px 6px #ccc;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #f3f5f7;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form {
	max-width: 300px;
	margin: 0 auto 20px;
}

.home {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background: #66CCFF;
}

/*flat buttons*/
.butt {
  color: #ffffff;
  background-color: #D1D1D1;
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;

  &:hover {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
  }

  &.blue {
    background-color: #53B7E9;
  }
  &.red {
    background-color: #D43F3A;
  }
  &.green {
    background-color: #398439;
  }
  &.primary {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
  }
}

input.butt {
  padding-top: 7px;
  height: 37px;
}

input {
  margin-bottom: 4px;
}

.btn-event {
	background-color: #66CCFF;
	text-align: center;
}

/* home page */
#signup {
   float: left;
   span {
       font-size: 25px;
   }
}

.button_row{
    margin-top: 20px;
}

#app-iphone {
    margin-top: -230px;
}

.app {
  padding-left: 70px; 
}

.signup {
  padding-left: 60px;
}

.row.media {
  text-align: center;
  img {
    display:block; 
    margin:0 auto;
    &:hover {
      opacity:0.4;
    }
  }
}
.jColorSelect {
    width: 210px;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.inline {
    display: inline;
}

.modal {
    width: 400px;
}

#notice {
  color: green;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  ul {
     float: right;
     list-style: none;
    }
  a {
    color: #555;
           &:hover {
          color: #222;
        }
    }
  small {
    float: left;
  }
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* tagsinput styles */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
 // width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
